<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
  <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="index.html" class="simple-text"> Company Name </a>
    </div>

    <ul class="nav">
      <li class="active">
        <a href="index.html">
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="dropdown-btn">
        <a href="#">
          <i class="pe-7s-angle-down-circle"></i>
          <p>Master</p>
        </a>
      </li>
      <div class="dropdown-container">
        <li class="">
          <a href="pemilik.html" class="dropdown-text">
            <i class="pe-7s-less"></i>
            <p class="">Pemilik</p>
          </a>
        </li>
        <li class="">
          <a href="petani.html" class="dropdown-text">
            <i class="pe-7s-less"></i>
            <p class="">Petani</p>
          </a>
        </li>
      </div>

      <li class="dropdown-btn">
        <a href="#">
          <i class="pe-7s-angle-down-circle"></i>
          <p>Transaksi</p>
        </a>
      </li>
      <div class="dropdown-container">
        <li class="">
          <a href="#" class="dropdown-text">
            <i class="pe-7s-less"></i>
            <p class="">Keberangkatan</p>
          </a>
        </li>
        <li class="">
          <a href="#" class="dropdown-text">
            <i class="pe-7s-less"></i>
            <p class="">Kepulangan</p>
          </a>
        </li>
        <li class="">
          <a href="#" class="dropdown-text">
            <i class="pe-7s-less"></i>
            <p class="">Pembayaran</p>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
